Tamagotchi/Service References/TamagotchiServiceLocal/TamagotchiService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TamagotchiWebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TamagotchiWebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTamagotchi">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tamagotchi" nillable="true" type="tns:Tamagotchi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTamagotchi" nillable="true" type="tns:ArrayOfTamagotchi" />
  <xs:complexType name="Tamagotchi">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Boredom" type="xs:int" />
      <xs:element minOccurs="0" name="BusyTill" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Health" type="xs:int" />
      <xs:element minOccurs="0" name="Hunger" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsAlive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastAccess" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sleep" type="xs:int" />
      <xs:element minOccurs="0" name="State" nillable="true" type="tns:State" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tamagotchi" nillable="true" type="tns:Tamagotchi" />
  <xs:complexType name="State">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusyMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CanPerformAction" type="xs:boolean" />
      <xs:element minOccurs="0" name="HighestProperty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HighestPropertyMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="State" nillable="true" type="tns:State" />
</xs:schema>