Tamagotchi/Service References/TamagotchiServiceRef/TamagotchiService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://mdaemstamagotchiservice.azurewebsites.net/TamagotchiService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TamagotchiService.Models" />
  <xs:complexType name="ArrayOfKeyValueOfstringTamagotchiK7Nqk8Qz">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringTamagotchiK7Nqk8Qz">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TamagotchiService.Models" name="Value" nillable="true" type="q1:Tamagotchi" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringTamagotchiK7Nqk8Qz" nillable="true" type="tns:ArrayOfKeyValueOfstringTamagotchiK7Nqk8Qz" />
</xs:schema>